.forks {
	height: 10px;
	background-color: white;
	width: 117px;
	border-radius: 50px;
	position: fixed;
}

body {
	height: 4000px;
}

.center {
	background: black;
    width: 15px;
    height: 15px;
    z-index: 10;
    border-radius: 50%;
}

.wheel {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly; 
	position: absolute;
	left: 0;
	right: 0;
	height: 110px;
	width: 110px;
	border-radius: 50%;
	background: #272727; 
	border: 5px solid white;
	overflow: hidden;
}

.wheel-rotate {
	animation-timing-function: linear;
	animation-name: wheel-rotate;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-duration: 15s;
	box-shadow: 0px 0px 0px 7px #999 inset;
}

.wheel-box {
	background-color: black;
	display: flex;
	align-items: center;
	height: 120px;
	position: fixed;
	width: 100%;
	overflow: hidden;
}

.fork-1 {
	transform: rotate(60deg);
}

.fork-2 {
	transform: rotate(120deg);
}

#viewport-switcher {
	background-color: red;
	height: 500px;
	overflow: hidden;
	width: 100%;
}

@keyframes wheel-rotate {
	from {
/*		transform: rotate(0deg);*/
/*		translate: -92vw;*/
	}

	to {
/*		transform: rotate(360deg);*/
	}
}

@media (max-width: 767px) {
	#viewport-switcher {
	background-color: blue;
}
}